.comments {

  &__add-comment-editor {

  }

  &__add-comment-btn-group {
    margin-top: 10px;
  }

  &__add-comment-btn {
    margin-right: 5px;
  }
}

@media (max-width: 430px) {
  .comments {

    &__add-comment-btn-group {
      display: flex;
      flex-direction: column;

      align-items: center;
    }

    &__add-comment-btn {
      margin-right: 0;
    }

    &__cancel-comment-btn {
      margin-top: 3px;
    }
  }
}