.comments {

  &__comment-container {
    border-left: 1px solid #ccc;
    //border-top: 1px solid #ccc;
    //border-radius: 4px;

    margin-top: 5px;

    width: 100%;
  }

  &__comment-content {
    border-bottom: 1px solid #ccc;

    padding: 5px;
  }

  &__comment-content-inner {
    padding: 5px;

    background: rgba(204, 204, 204, 0.2);
  }

  &__comment-btns {
    //margin: 5px;
    //margin-bottom: 0px;

    padding: 5px;
  }

  &__comment-add-btn,
  &__comment-edit-btn {
    margin-right: 5px;
  }



  &__comment-apply-edit-btn {
    margin-right: 5px;
  }

}