.task-description {

  &__title-container {

  }

  &__title {
    color: #565656;
  }


  &__edit-btn {
    font-size: 12px;

    margin-left: 3px;

    color: #696969;

    cursor: pointer;

    &:hover {
      background: bisque;

      border-radius: 4px;
    }
  }

  &__edit-container {

  }

  &__edit-desc-input {
    border: none;

    outline: none;

    resize: none;

    min-height: 50px;
    width: 780px;

    font-size: 16px;
  }

  &__edit-btn-group {
    margin-top: 10px;
  }

  &__apply-edit-btn {
    margin-right: 5px;
  }

  &__cancel-edit-btn {

  }

  &__desc {
    border: 1px solid #ccc;
    border-radius: 4px;

    padding: 8px;

    overflow-x: hidden;

    &:hover {
      cursor: pointer;
    }
  }

  &__desc-inner {
    background: rgba(204, 204, 204, 0.2);

    padding: 5px;

    border-radius: 4px;
  }
}

@media (max-width: 430px) {
  .task-description {

    &__edit-btn-group {
      display: flex;
      flex-direction: column;

      align-items: center;
    }

    &__apply-edit-btn {
      margin-right: 0;

      width: 150px;
    }

    &__cancel-edit-btn {
      margin-top: 3px;

      width: 150px;
    }
  }
}