.comments {

  &__content {
  }

  &__add-comment-container {

  }

  &__comments-list-container {
    margin-top: 20px;
  }

  &__comments-list-title {
    color: #565656;

    font-size: 14px;
    font-weight: 600;
  }

}

