.container {
  width: 100%;

  margin-top: 20px;

  text-align: center;
}

.tasks-list {

  &__header {

  }

  &__container {
    margin-top: 100px;
  }


  &__search {
    display: flex;
    justify-content: flex-start;
  }

  &__search-input {
    border: 1px solid #ccc;
    border-radius: 5px;

    height: 25px;

    outline: none;

    padding: 3px;
  }

  &__search-btn {
    background: rgba(204, 204, 204, 0.4);

    border: 1px solid #ccc;
    border-radius: 5px;

    width: 50px;

    text-transform: uppercase;
    color: #565656;
    
    &:hover {
      cursor: pointer;
      background: #cccccc;
    }
  }

  &__search-input {
    margin-left: 30px;
    margin-right: 10px;
  }

  &__tasks-cols {
    display: flex;
    justify-content: space-around;
    align-items: start;
  }

  &__tasks-col {
    margin-top: 50px;

    border: 1px solid #ccc;
    border-radius: 15px;

    background: rgba(204, 204, 204, 0.3);

    min-height: 220px;
    min-width: 300px;
  }
}


.tasks-cols {


  &__header {
    margin-top: 10px;
  }

  &__tasks-list {
    list-style: none;

    padding: 20px;

    width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__tasks-list-item {
    width: 250px;

    border: 1px solid #ccc;
    border-radius: 15px;

    margin-bottom: 10px;
    padding: 20px;

    box-shadow: 1px 2px 5px gray;

    &:hover {
      border: 3px dotted #ccc;
      background: bisque;

      cursor: pointer;
    }
  }
}

.item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 5px;

}

.item-header {
  margin-bottom: 10px;

  overflow-wrap: break-word;
}

.item-desc {
  background: #ccc;

  text-align: start;

  padding: 5px;

  border-radius: 5px;
}

.item-id {
  text-align: start;
  font-style: italic;

  color: #6b6b6b;

  padding: 5px;
}