.page {
    height: 90vh;

    &__content {
        height: 90vh;
    }
}

.btn {
    background: rgba(204, 204, 204, 0.4);

    border: 1px solid #ccc;
    border-radius: 5px;

    text-transform: uppercase;
    color: #565656;

    padding: 3px 8px;

    //box-shadow: 1px 1px 0 grey;

    &:hover {
        cursor: pointer;
        background: #cccccc;
    }
}

.tox-tinymce {
    margin-top: 5px;

    //animation: myAnim 0.5s ease 0s 1 normal forwards;
    //
    //@keyframes myAnim {
    //    0% {
    //        transform: scaleY(0);
    //        transform-origin: 100% 0%;
    //    }
    //
    //    100% {
    //        transform: scaleY(1);
    //        transform-origin: 100% 0%;
    //    }
    //}
}
