* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

}

a {
    text-decoration: none;

    color: inherit;
}

li {
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

//::-webkit-scrollbar {
//    border-radius: 12px;
//    background: #ccc;
//}
//
//::-webkit-scrollbar-thumb {
//    background: #a9a9a9;
//    border-radius: 12px;
//
//    &:hover {
//        background: #7c7c7c;
//    }
//}

